{% extends "wagtailadmin/admin_base.html" %}
{% load static %}

{% block branding_favicon %}
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
{% endblock %}

{% block branding_logo %}
    <div class="ares-logo">
        <img src="{% static 'img/Logo.svg' %}" alt="ARES Logo" class="ares-logo-icon">
        <span class="ares-logo-text">ARES</span>
    </div>
{% endblock %}

{% block branding_login %}
    <div class="ares-login-logo">
        <img src="{% static 'img/Logo.svg' %}" alt="ARES Logo" class="ares-login-icon">
        <h1>ARES - Gestão de Estoque</h1>
        <p>Sistema de controle e gerenciamento de produtos</p>
    </div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {# Estilos movidos para: frontend/scss/admin/_wagtail-custom.scss #}
{% endblock %}
