
<div class="carrossel-banners-wrapper">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper carrossel-banners bg-red">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
      {% for banner in value.banners %}
        <!-- Slides -->
        <div class="swiper-slide">
          {% include 'blocks/item_carrossel_banner.html' with value=banner %}
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-banners-pagination"></div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const swiperServicosOnline = new Swiper('.carrossel-banners', {
        slidesPerView: 1,
        spaceBetween: 20,
        autoplay: {
          delay: 8000,
          disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-banners-pagination',
            clickable: true,
        },
        loop: true,
    });
});
</script>