<div class="carrossel-solucoes-wrapper">
  <div class="container">
    {% include 'include/titulo.html' with titulo=self.titulo bgClass='titulo-bg-default' %}
    <div class="swiper-container">
      <div class="swiper carrossel-solucoes">
        <div class="swiper-wrapper">
          {% for solucao in value.solucoes %}
            <div class="swiper-slide">
              {% include 'blocks/item_solucao.html' with value=solucao %}
            </div>
          {% endfor %}
        </div>  
        <!-- Paginação -->
        <div class="swiper-pagination swiper-solucoes-pagination"></div>
      </div>
      <!-- Botões de navegação -->
      <div class="swiper-button-prev swiper-solucoes-prev d-none d-md-block"></div>
      <div class="swiper-button-next swiper-solucoes-next d-none d-md-block"></div>
    </div>
  </div>
</div>
  