<!-- Serviços Online Card -->
<div class="servicos-online-wrapper">
    <div class="container">
        {% include 'include/titulo.html' with titulo=self.titulo bgClass='' %}
        <div class="swiper-container">
            <div class="swiper swiperServicosOnline">
                <div class="swiper-wrapper">
                    {% for serv in servicos %}
                    <div class="swiper-slide">
                        {% include 'blocks/item_servico_online.html' with servico=serv %}
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination swiper-servico-pagination"></div>
            </div>
            <div class="swiper-button-next swiper-servicos-button-next d-none d-lg-block"></div>
            <div class="swiper-button-prev swiper-servicos-button-prev d-none d-lg-block"></div>
        </div>
    </div>
    {% include "include/ver_todos_btn.html" with ver_todos_url=linkTodos target='_blank' btn_class="text-center" %}
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    const swiperServicosOnline = new Swiper('.swiperServicosOnline', {
        slidesPerView: 1,
        spaceBetween: 20,
        {% comment %} autoplay: {
            delay: 5000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
        }, {% endcomment %}
        breakpoints: {
            768: {
                slidesPerView: 2,
            },
            1200: {
                slidesPerView: 3,
            },
            1440: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
        },
        navigation: {
            nextEl: '.swiper-servicos-button-next',
            prevEl: '.swiper-servicos-button-prev'
        },
        pagination: {
            el: '.swiper-servico-pagination',
            clickable: true,
        },
        loop: true,
    });

    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
});
</script>
