<!-- Serviços Online Card -->
<div class="servicos-online-wrapper">
    <div class="container">
        {% include 'include/titulo.html' with titulo=self.titulo bgClass='' %}
        <div class="swiper-container">
            <div class="swiper swiperServicosOnline">
                <div class="swiper-wrapper">
                    {% for serv in servicos %}
                    <div class="swiper-slide">
                        {% include 'blocks/item_servico_online.html' with servico=serv %}
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination swiper-servico-pagination"></div>
            </div>
            <div class="swiper-button-next swiper-servicos-button-next d-none d-lg-block"></div>
            <div class="swiper-button-prev swiper-servicos-button-prev d-none d-lg-block"></div>
        </div>
    </div>
    {% include "include/ver_todos_btn.html" with ver_todos_url=linkTodos target='_blank' btn_class="text-center" %}
</div>
