{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "dataLayer": "writable",
    "VanillaCalendar": "readonly",
    "fetch": "readonly"
  },
  "rules": {
    // allow no lines between single line members (e.g. static declarations)
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "no-underscore-dangle": ["error", { 
      "allow": ["__webpack_require__", "__webpack_exports__", "__webpack_module_cache__", "__esModule", "__dirname"] 
    }]
  }
}
