@use './variables.scss';

.breadcrumb-content {
  padding-top: 32px;
  padding-bottom: 16px;

  a {
    color: variables.$color-primary;
  }
}

@media screen and (max-width: 500px) {
  .breadcrumb-content {
    padding-left: 5px;
  }
}

.icon-light {
  display: inline;
}

.icon-dark {
  display: none;
}

.breadcrumb-item {
  --bs-breadcrumb-divider: '';
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  white-space: nowrap;
  @media (max-width: 768px) {
    max-width: 60%;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  background-image: url('../img/next.svg');
  background-repeat: no-repeat;
  background-size: 8px;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 12px;
}