// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$botao-busca-sem-bg-name: 'botao-busca-sem-bg';
$botao-busca-sem-bg-x: 269px;
$botao-busca-sem-bg-y: 154px;
$botao-busca-sem-bg-offset-x: -269px;
$botao-busca-sem-bg-offset-y: -154px;
$botao-busca-sem-bg-width: 19px;
$botao-busca-sem-bg-height: 19px;
$botao-busca-sem-bg-total-width: 295px;
$botao-busca-sem-bg-total-height: 252px;
$botao-busca-sem-bg-image: '/frontend/sprite/sprite.png';
$botao-busca-sem-bg: (269px, 154px, -269px, -154px, 19px, 19px, 295px, 252px, '/frontend/sprite/sprite.png', 'botao-busca-sem-bg', );
$botao-busca-name: 'botao-busca';
$botao-busca-x: 269px;
$botao-busca-y: 92px;
$botao-busca-offset-x: -269px;
$botao-busca-offset-y: -92px;
$botao-busca-width: 24px;
$botao-busca-height: 22px;
$botao-busca-total-width: 295px;
$botao-busca-total-height: 252px;
$botao-busca-image: '/frontend/sprite/sprite.png';
$botao-busca: (269px, 92px, -269px, -92px, 24px, 22px, 295px, 252px, '/frontend/sprite/sprite.png', 'botao-busca', );
$botao-com-icone-name: 'botao-com-icone';
$botao-com-icone-x: 286px;
$botao-com-icone-y: 228px;
$botao-com-icone-offset-x: -286px;
$botao-com-icone-offset-y: -228px;
$botao-com-icone-width: 9px;
$botao-com-icone-height: 10px;
$botao-com-icone-total-width: 295px;
$botao-com-icone-total-height: 252px;
$botao-com-icone-image: '/frontend/sprite/sprite.png';
$botao-com-icone: (286px, 228px, -286px, -228px, 9px, 10px, 295px, 252px, '/frontend/sprite/sprite.png', 'botao-com-icone', );
$busca-escuro-name: 'busca-escuro';
$busca-escuro-x: 269px;
$busca-escuro-y: 0px;
$busca-escuro-offset-x: -269px;
$busca-escuro-offset-y: 0px;
$busca-escuro-width: 26px;
$busca-escuro-height: 25px;
$busca-escuro-total-width: 295px;
$busca-escuro-total-height: 252px;
$busca-escuro-image: '/frontend/sprite/sprite.png';
$busca-escuro: (269px, 0px, -269px, 0px, 26px, 25px, 295px, 252px, '/frontend/sprite/sprite.png', 'busca-escuro', );
$busca-name: 'busca';
$busca-x: 269px;
$busca-y: 25px;
$busca-offset-x: -269px;
$busca-offset-y: -25px;
$busca-width: 26px;
$busca-height: 25px;
$busca-total-width: 295px;
$busca-total-height: 252px;
$busca-image: '/frontend/sprite/sprite.png';
$busca: (269px, 25px, -269px, -25px, 26px, 25px, 295px, 252px, '/frontend/sprite/sprite.png', 'busca', );
$casinha-branca-name: 'casinha-branca';
$casinha-branca-x: 269px;
$casinha-branca-y: 228px;
$casinha-branca-offset-x: -269px;
$casinha-branca-offset-y: -228px;
$casinha-branca-width: 17px;
$casinha-branca-height: 12px;
$casinha-branca-total-width: 295px;
$casinha-branca-total-height: 252px;
$casinha-branca-image: '/frontend/sprite/sprite.png';
$casinha-branca: (269px, 228px, -269px, -228px, 17px, 12px, 295px, 252px, '/frontend/sprite/sprite.png', 'casinha-branca', );
$casinha-name: 'casinha';
$casinha-x: 269px;
$casinha-y: 240px;
$casinha-offset-x: -269px;
$casinha-offset-y: -240px;
$casinha-width: 17px;
$casinha-height: 12px;
$casinha-total-width: 295px;
$casinha-total-height: 252px;
$casinha-image: '/frontend/sprite/sprite.png';
$casinha: (269px, 240px, -269px, -240px, 17px, 12px, 295px, 252px, '/frontend/sprite/sprite.png', 'casinha', );
$contraste-escuro-name: 'contraste-escuro';
$contraste-escuro-x: 269px;
$contraste-escuro-y: 192px;
$contraste-escuro-offset-x: -269px;
$contraste-escuro-offset-y: -192px;
$contraste-escuro-width: 18px;
$contraste-escuro-height: 18px;
$contraste-escuro-total-width: 295px;
$contraste-escuro-total-height: 252px;
$contraste-escuro-image: '/frontend/sprite/sprite.png';
$contraste-escuro: (269px, 192px, -269px, -192px, 18px, 18px, 295px, 252px, '/frontend/sprite/sprite.png', 'contraste-escuro', );
$contraste-name: 'contraste';
$contraste-x: 269px;
$contraste-y: 210px;
$contraste-offset-x: -269px;
$contraste-offset-y: -210px;
$contraste-width: 18px;
$contraste-height: 18px;
$contraste-total-width: 295px;
$contraste-total-height: 252px;
$contraste-image: '/frontend/sprite/sprite.png';
$contraste: (269px, 210px, -269px, -210px, 18px, 18px, 295px, 252px, '/frontend/sprite/sprite.png', 'contraste', );
$filtro-audio-name: 'filtro-audio';
$filtro-audio-x: 0px;
$filtro-audio-y: 0px;
$filtro-audio-offset-x: 0px;
$filtro-audio-offset-y: 0px;
$filtro-audio-width: 210px;
$filtro-audio-height: 21px;
$filtro-audio-total-width: 295px;
$filtro-audio-total-height: 252px;
$filtro-audio-image: '/frontend/sprite/sprite.png';
$filtro-audio: (0px, 0px, 0px, 0px, 210px, 21px, 295px, 252px, '/frontend/sprite/sprite.png', 'filtro-audio', );
$filtro-busca-name: 'filtro-busca';
$filtro-busca-x: 269px;
$filtro-busca-y: 173px;
$filtro-busca-offset-x: -269px;
$filtro-busca-offset-y: -173px;
$filtro-busca-width: 19px;
$filtro-busca-height: 19px;
$filtro-busca-total-width: 295px;
$filtro-busca-total-height: 252px;
$filtro-busca-image: '/frontend/sprite/sprite.png';
$filtro-busca: (269px, 173px, -269px, -173px, 19px, 19px, 295px, 252px, '/frontend/sprite/sprite.png', 'filtro-busca', );
$filtro-imagem-name: 'filtro-imagem';
$filtro-imagem-x: 0px;
$filtro-imagem-y: 21px;
$filtro-imagem-offset-x: 0px;
$filtro-imagem-offset-y: -21px;
$filtro-imagem-width: 210px;
$filtro-imagem-height: 21px;
$filtro-imagem-total-width: 295px;
$filtro-imagem-total-height: 252px;
$filtro-imagem-image: '/frontend/sprite/sprite.png';
$filtro-imagem: (0px, 21px, 0px, -21px, 210px, 21px, 295px, 252px, '/frontend/sprite/sprite.png', 'filtro-imagem', );
$filtro-infografico-name: 'filtro-infografico';
$filtro-infografico-x: 0px;
$filtro-infografico-y: 42px;
$filtro-infografico-offset-x: 0px;
$filtro-infografico-offset-y: -42px;
$filtro-infografico-width: 210px;
$filtro-infografico-height: 21px;
$filtro-infografico-total-width: 295px;
$filtro-infografico-total-height: 252px;
$filtro-infografico-image: '/frontend/sprite/sprite.png';
$filtro-infografico: (0px, 42px, 0px, -42px, 210px, 21px, 295px, 252px, '/frontend/sprite/sprite.png', 'filtro-infografico', );
$filtro-video-name: 'filtro-video';
$filtro-video-x: 0px;
$filtro-video-y: 63px;
$filtro-video-offset-x: 0px;
$filtro-video-offset-y: -63px;
$filtro-video-width: 210px;
$filtro-video-height: 21px;
$filtro-video-total-width: 295px;
$filtro-video-total-height: 252px;
$filtro-video-image: '/frontend/sprite/sprite.png';
$filtro-video: (0px, 63px, 0px, -63px, 210px, 21px, 295px, 252px, '/frontend/sprite/sprite.png', 'filtro-video', );
$ico-audio-name: 'ico-audio';
$ico-audio-x: 0px;
$ico-audio-y: 84px;
$ico-audio-offset-x: 0px;
$ico-audio-offset-y: -84px;
$ico-audio-width: 40px;
$ico-audio-height: 40px;
$ico-audio-total-width: 295px;
$ico-audio-total-height: 252px;
$ico-audio-image: '/frontend/sprite/sprite.png';
$ico-audio: (0px, 84px, 0px, -84px, 40px, 40px, 295px, 252px, '/frontend/sprite/sprite.png', 'ico-audio', );
$ico-filtrar-fechado-name: 'ico-filtrar-fechado';
$ico-filtrar-fechado-x: 269px;
$ico-filtrar-fechado-y: 114px;
$ico-filtrar-fechado-offset-x: -269px;
$ico-filtrar-fechado-offset-y: -114px;
$ico-filtrar-fechado-width: 20px;
$ico-filtrar-fechado-height: 20px;
$ico-filtrar-fechado-total-width: 295px;
$ico-filtrar-fechado-total-height: 252px;
$ico-filtrar-fechado-image: '/frontend/sprite/sprite.png';
$ico-filtrar-fechado: (269px, 114px, -269px, -114px, 20px, 20px, 295px, 252px, '/frontend/sprite/sprite.png', 'ico-filtrar-fechado', );
$ico-filtrar-name: 'ico-filtrar';
$ico-filtrar-x: 269px;
$ico-filtrar-y: 134px;
$ico-filtrar-offset-x: -269px;
$ico-filtrar-offset-y: -134px;
$ico-filtrar-width: 20px;
$ico-filtrar-height: 20px;
$ico-filtrar-total-width: 295px;
$ico-filtrar-total-height: 252px;
$ico-filtrar-image: '/frontend/sprite/sprite.png';
$ico-filtrar: (269px, 134px, -269px, -134px, 20px, 20px, 295px, 252px, '/frontend/sprite/sprite.png', 'ico-filtrar', );
$ico-imagem-name: 'ico-imagem';
$ico-imagem-x: 40px;
$ico-imagem-y: 84px;
$ico-imagem-offset-x: -40px;
$ico-imagem-offset-y: -84px;
$ico-imagem-width: 40px;
$ico-imagem-height: 40px;
$ico-imagem-total-width: 295px;
$ico-imagem-total-height: 252px;
$ico-imagem-image: '/frontend/sprite/sprite.png';
$ico-imagem: (40px, 84px, -40px, -84px, 40px, 40px, 295px, 252px, '/frontend/sprite/sprite.png', 'ico-imagem', );
$ico-infografico-name: 'ico-infografico';
$ico-infografico-x: 80px;
$ico-infografico-y: 84px;
$ico-infografico-offset-x: -80px;
$ico-infografico-offset-y: -84px;
$ico-infografico-width: 40px;
$ico-infografico-height: 40px;
$ico-infografico-total-width: 295px;
$ico-infografico-total-height: 252px;
$ico-infografico-image: '/frontend/sprite/sprite.png';
$ico-infografico: (80px, 84px, -80px, -84px, 40px, 40px, 295px, 252px, '/frontend/sprite/sprite.png', 'ico-infografico', );
$ico-video-name: 'ico-video';
$ico-video-x: 120px;
$ico-video-y: 84px;
$ico-video-offset-x: -120px;
$ico-video-offset-y: -84px;
$ico-video-width: 40px;
$ico-video-height: 40px;
$ico-video-total-width: 295px;
$ico-video-total-height: 252px;
$ico-video-image: '/frontend/sprite/sprite.png';
$ico-video: (120px, 84px, -120px, -84px, 40px, 40px, 295px, 252px, '/frontend/sprite/sprite.png', 'ico-video', );
$image-download-name: 'image-download';
$image-download-x: 174px;
$image-download-y: 223px;
$image-download-offset-x: -174px;
$image-download-offset-y: -223px;
$image-download-width: 27px;
$image-download-height: 29px;
$image-download-total-width: 295px;
$image-download-total-height: 252px;
$image-download-image: '/frontend/sprite/sprite.png';
$image-download: (174px, 223px, -174px, -223px, 27px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'image-download', );
$image-zoom-name: 'image-zoom';
$image-zoom-x: 210px;
$image-zoom-y: 40px;
$image-zoom-offset-x: -210px;
$image-zoom-offset-y: -40px;
$image-zoom-width: 29px;
$image-zoom-height: 29px;
$image-zoom-total-width: 295px;
$image-zoom-total-height: 252px;
$image-zoom-image: '/frontend/sprite/sprite.png';
$image-zoom: (210px, 40px, -210px, -40px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'image-zoom', );
$lista-seta-name: 'lista-seta';
$lista-seta-x: 160px;
$lista-seta-y: 84px;
$lista-seta-offset-x: -160px;
$lista-seta-offset-y: -84px;
$lista-seta-width: 37px;
$lista-seta-height: 36px;
$lista-seta-total-width: 295px;
$lista-seta-total-height: 252px;
$lista-seta-image: '/frontend/sprite/sprite.png';
$lista-seta: (160px, 84px, -160px, -84px, 37px, 36px, 295px, 252px, '/frontend/sprite/sprite.png', 'lista-seta', );
$multimidia-name: 'multimidia';
$multimidia-x: 210px;
$multimidia-y: 69px;
$multimidia-offset-x: -210px;
$multimidia-offset-y: -69px;
$multimidia-width: 29px;
$multimidia-height: 29px;
$multimidia-total-width: 295px;
$multimidia-total-height: 252px;
$multimidia-image: '/frontend/sprite/sprite.png';
$multimidia: (210px, 69px, -210px, -69px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'multimidia', );
$nav-escuro-name: 'nav-escuro';
$nav-escuro-x: 153px;
$nav-escuro-y: 159px;
$nav-escuro-offset-x: -153px;
$nav-escuro-offset-y: -159px;
$nav-escuro-width: 28px;
$nav-escuro-height: 25px;
$nav-escuro-total-width: 295px;
$nav-escuro-total-height: 252px;
$nav-escuro-image: '/frontend/sprite/sprite.png';
$nav-escuro: (153px, 159px, -153px, -159px, 28px, 25px, 295px, 252px, '/frontend/sprite/sprite.png', 'nav-escuro', );
$nav-name: 'nav';
$nav-x: 181px;
$nav-y: 159px;
$nav-offset-x: -181px;
$nav-offset-y: -159px;
$nav-width: 28px;
$nav-height: 25px;
$nav-total-width: 295px;
$nav-total-height: 252px;
$nav-image: '/frontend/sprite/sprite.png';
$nav: (181px, 159px, -181px, -159px, 28px, 25px, 295px, 252px, '/frontend/sprite/sprite.png', 'nav', );
$rede-facebook-branco-name: 'rede-facebook-branco';
$rede-facebook-branco-x: 201px;
$rede-facebook-branco-y: 223px;
$rede-facebook-branco-offset-x: -201px;
$rede-facebook-branco-offset-y: -223px;
$rede-facebook-branco-width: 25px;
$rede-facebook-branco-height: 28px;
$rede-facebook-branco-total-width: 295px;
$rede-facebook-branco-total-height: 252px;
$rede-facebook-branco-image: '/frontend/sprite/sprite.png';
$rede-facebook-branco: (201px, 223px, -201px, -223px, 25px, 28px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-facebook-branco', );
$rede-facebook-topo-name: 'rede-facebook-topo';
$rede-facebook-topo-x: 226px;
$rede-facebook-topo-y: 223px;
$rede-facebook-topo-offset-x: -226px;
$rede-facebook-topo-offset-y: -223px;
$rede-facebook-topo-width: 25px;
$rede-facebook-topo-height: 28px;
$rede-facebook-topo-total-width: 295px;
$rede-facebook-topo-total-height: 252px;
$rede-facebook-topo-image: '/frontend/sprite/sprite.png';
$rede-facebook-topo: (226px, 223px, -226px, -223px, 25px, 28px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-facebook-topo', );
$rede-facebook-name: 'rede-facebook';
$rede-facebook-x: 0px;
$rede-facebook-y: 124px;
$rede-facebook-offset-x: 0px;
$rede-facebook-offset-y: -124px;
$rede-facebook-width: 35px;
$rede-facebook-height: 35px;
$rede-facebook-total-width: 295px;
$rede-facebook-total-height: 252px;
$rede-facebook-image: '/frontend/sprite/sprite.png';
$rede-facebook: (0px, 124px, 0px, -124px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-facebook', );
$rede-flickr-branco-name: 'rede-flickr-branco';
$rede-flickr-branco-x: 210px;
$rede-flickr-branco-y: 98px;
$rede-flickr-branco-offset-x: -210px;
$rede-flickr-branco-offset-y: -98px;
$rede-flickr-branco-width: 29px;
$rede-flickr-branco-height: 29px;
$rede-flickr-branco-total-width: 295px;
$rede-flickr-branco-total-height: 252px;
$rede-flickr-branco-image: '/frontend/sprite/sprite.png';
$rede-flickr-branco: (210px, 98px, -210px, -98px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-flickr-branco', );
$rede-flickr-topo-name: 'rede-flickr-topo';
$rede-flickr-topo-x: 210px;
$rede-flickr-topo-y: 127px;
$rede-flickr-topo-offset-x: -210px;
$rede-flickr-topo-offset-y: -127px;
$rede-flickr-topo-width: 29px;
$rede-flickr-topo-height: 29px;
$rede-flickr-topo-total-width: 295px;
$rede-flickr-topo-total-height: 252px;
$rede-flickr-topo-image: '/frontend/sprite/sprite.png';
$rede-flickr-topo: (210px, 127px, -210px, -127px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-flickr-topo', );
$rede-flickr-name: 'rede-flickr';
$rede-flickr-x: 35px;
$rede-flickr-y: 124px;
$rede-flickr-offset-x: -35px;
$rede-flickr-offset-y: -124px;
$rede-flickr-width: 35px;
$rede-flickr-height: 35px;
$rede-flickr-total-width: 295px;
$rede-flickr-total-height: 252px;
$rede-flickr-image: '/frontend/sprite/sprite.png';
$rede-flickr: (35px, 124px, -35px, -124px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-flickr', );
$rede-googleplus-branco-name: 'rede-googleplus-branco';
$rede-googleplus-branco-x: 210px;
$rede-googleplus-branco-y: 156px;
$rede-googleplus-branco-offset-x: -210px;
$rede-googleplus-branco-offset-y: -156px;
$rede-googleplus-branco-width: 29px;
$rede-googleplus-branco-height: 29px;
$rede-googleplus-branco-total-width: 295px;
$rede-googleplus-branco-total-height: 252px;
$rede-googleplus-branco-image: '/frontend/sprite/sprite.png';
$rede-googleplus-branco: (210px, 156px, -210px, -156px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-googleplus-branco', );
$rede-googleplus-topo-name: 'rede-googleplus-topo';
$rede-googleplus-topo-x: 0px;
$rede-googleplus-topo-y: 194px;
$rede-googleplus-topo-offset-x: 0px;
$rede-googleplus-topo-offset-y: -194px;
$rede-googleplus-topo-width: 29px;
$rede-googleplus-topo-height: 29px;
$rede-googleplus-topo-total-width: 295px;
$rede-googleplus-topo-total-height: 252px;
$rede-googleplus-topo-image: '/frontend/sprite/sprite.png';
$rede-googleplus-topo: (0px, 194px, 0px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-googleplus-topo', );
$rede-googleplus-name: 'rede-googleplus';
$rede-googleplus-x: 70px;
$rede-googleplus-y: 124px;
$rede-googleplus-offset-x: -70px;
$rede-googleplus-offset-y: -124px;
$rede-googleplus-width: 35px;
$rede-googleplus-height: 35px;
$rede-googleplus-total-width: 295px;
$rede-googleplus-total-height: 252px;
$rede-googleplus-image: '/frontend/sprite/sprite.png';
$rede-googleplus: (70px, 124px, -70px, -124px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-googleplus', );
$rede-instagram-branco-name: 'rede-instagram-branco';
$rede-instagram-branco-x: 29px;
$rede-instagram-branco-y: 194px;
$rede-instagram-branco-offset-x: -29px;
$rede-instagram-branco-offset-y: -194px;
$rede-instagram-branco-width: 29px;
$rede-instagram-branco-height: 29px;
$rede-instagram-branco-total-width: 295px;
$rede-instagram-branco-total-height: 252px;
$rede-instagram-branco-image: '/frontend/sprite/sprite.png';
$rede-instagram-branco: (29px, 194px, -29px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-instagram-branco', );
$rede-instagram-topo-name: 'rede-instagram-topo';
$rede-instagram-topo-x: 58px;
$rede-instagram-topo-y: 194px;
$rede-instagram-topo-offset-x: -58px;
$rede-instagram-topo-offset-y: -194px;
$rede-instagram-topo-width: 29px;
$rede-instagram-topo-height: 29px;
$rede-instagram-topo-total-width: 295px;
$rede-instagram-topo-total-height: 252px;
$rede-instagram-topo-image: '/frontend/sprite/sprite.png';
$rede-instagram-topo: (58px, 194px, -58px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-instagram-topo', );
$rede-instagram-name: 'rede-instagram';
$rede-instagram-x: 105px;
$rede-instagram-y: 124px;
$rede-instagram-offset-x: -105px;
$rede-instagram-offset-y: -124px;
$rede-instagram-width: 35px;
$rede-instagram-height: 35px;
$rede-instagram-total-width: 295px;
$rede-instagram-total-height: 252px;
$rede-instagram-image: '/frontend/sprite/sprite.png';
$rede-instagram: (105px, 124px, -105px, -124px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-instagram', );
$rede-linkedin-name: 'rede-linkedin';
$rede-linkedin-x: 87px;
$rede-linkedin-y: 194px;
$rede-linkedin-offset-x: -87px;
$rede-linkedin-offset-y: -194px;
$rede-linkedin-width: 29px;
$rede-linkedin-height: 29px;
$rede-linkedin-total-width: 295px;
$rede-linkedin-total-height: 252px;
$rede-linkedin-image: '/frontend/sprite/sprite.png';
$rede-linkedin: (87px, 194px, -87px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-linkedin', );
$rede-rss-branco-name: 'rede-rss-branco';
$rede-rss-branco-x: 116px;
$rede-rss-branco-y: 194px;
$rede-rss-branco-offset-x: -116px;
$rede-rss-branco-offset-y: -194px;
$rede-rss-branco-width: 29px;
$rede-rss-branco-height: 29px;
$rede-rss-branco-total-width: 295px;
$rede-rss-branco-total-height: 252px;
$rede-rss-branco-image: '/frontend/sprite/sprite.png';
$rede-rss-branco: (116px, 194px, -116px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-rss-branco', );
$rede-rss-topo-name: 'rede-rss-topo';
$rede-rss-topo-x: 145px;
$rede-rss-topo-y: 194px;
$rede-rss-topo-offset-x: -145px;
$rede-rss-topo-offset-y: -194px;
$rede-rss-topo-width: 29px;
$rede-rss-topo-height: 29px;
$rede-rss-topo-total-width: 295px;
$rede-rss-topo-total-height: 252px;
$rede-rss-topo-image: '/frontend/sprite/sprite.png';
$rede-rss-topo: (145px, 194px, -145px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-rss-topo', );
$rede-rss-name: 'rede-rss';
$rede-rss-x: 174px;
$rede-rss-y: 194px;
$rede-rss-offset-x: -174px;
$rede-rss-offset-y: -194px;
$rede-rss-width: 29px;
$rede-rss-height: 29px;
$rede-rss-total-width: 295px;
$rede-rss-total-height: 252px;
$rede-rss-image: '/frontend/sprite/sprite.png';
$rede-rss: (174px, 194px, -174px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-rss', );
$rede-slideshare-branco-name: 'rede-slideshare-branco';
$rede-slideshare-branco-x: 203px;
$rede-slideshare-branco-y: 194px;
$rede-slideshare-branco-offset-x: -203px;
$rede-slideshare-branco-offset-y: -194px;
$rede-slideshare-branco-width: 29px;
$rede-slideshare-branco-height: 29px;
$rede-slideshare-branco-total-width: 295px;
$rede-slideshare-branco-total-height: 252px;
$rede-slideshare-branco-image: '/frontend/sprite/sprite.png';
$rede-slideshare-branco: (203px, 194px, -203px, -194px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-slideshare-branco', );
$rede-slideshare-topo-name: 'rede-slideshare-topo';
$rede-slideshare-topo-x: 240px;
$rede-slideshare-topo-y: 0px;
$rede-slideshare-topo-offset-x: -240px;
$rede-slideshare-topo-offset-y: 0px;
$rede-slideshare-topo-width: 29px;
$rede-slideshare-topo-height: 29px;
$rede-slideshare-topo-total-width: 295px;
$rede-slideshare-topo-total-height: 252px;
$rede-slideshare-topo-image: '/frontend/sprite/sprite.png';
$rede-slideshare-topo: (240px, 0px, -240px, 0px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-slideshare-topo', );
$rede-slideshare-name: 'rede-slideshare';
$rede-slideshare-x: 240px;
$rede-slideshare-y: 29px;
$rede-slideshare-offset-x: -240px;
$rede-slideshare-offset-y: -29px;
$rede-slideshare-width: 29px;
$rede-slideshare-height: 29px;
$rede-slideshare-total-width: 295px;
$rede-slideshare-total-height: 252px;
$rede-slideshare-image: '/frontend/sprite/sprite.png';
$rede-slideshare: (240px, 29px, -240px, -29px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-slideshare', );
$rede-soundcloud-branco-name: 'rede-soundcloud-branco';
$rede-soundcloud-branco-x: 240px;
$rede-soundcloud-branco-y: 58px;
$rede-soundcloud-branco-offset-x: -240px;
$rede-soundcloud-branco-offset-y: -58px;
$rede-soundcloud-branco-width: 29px;
$rede-soundcloud-branco-height: 29px;
$rede-soundcloud-branco-total-width: 295px;
$rede-soundcloud-branco-total-height: 252px;
$rede-soundcloud-branco-image: '/frontend/sprite/sprite.png';
$rede-soundcloud-branco: (240px, 58px, -240px, -58px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-soundcloud-branco', );
$rede-soundcloud-topo-name: 'rede-soundcloud-topo';
$rede-soundcloud-topo-x: 240px;
$rede-soundcloud-topo-y: 87px;
$rede-soundcloud-topo-offset-x: -240px;
$rede-soundcloud-topo-offset-y: -87px;
$rede-soundcloud-topo-width: 29px;
$rede-soundcloud-topo-height: 29px;
$rede-soundcloud-topo-total-width: 295px;
$rede-soundcloud-topo-total-height: 252px;
$rede-soundcloud-topo-image: '/frontend/sprite/sprite.png';
$rede-soundcloud-topo: (240px, 87px, -240px, -87px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-soundcloud-topo', );
$rede-soundcloud-name: 'rede-soundcloud';
$rede-soundcloud-x: 140px;
$rede-soundcloud-y: 124px;
$rede-soundcloud-offset-x: -140px;
$rede-soundcloud-offset-y: -124px;
$rede-soundcloud-width: 35px;
$rede-soundcloud-height: 35px;
$rede-soundcloud-total-width: 295px;
$rede-soundcloud-total-height: 252px;
$rede-soundcloud-image: '/frontend/sprite/sprite.png';
$rede-soundcloud: (140px, 124px, -140px, -124px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-soundcloud', );
$rede-spotify-branco-name: 'rede-spotify-branco';
$rede-spotify-branco-x: 240px;
$rede-spotify-branco-y: 116px;
$rede-spotify-branco-offset-x: -240px;
$rede-spotify-branco-offset-y: -116px;
$rede-spotify-branco-width: 29px;
$rede-spotify-branco-height: 29px;
$rede-spotify-branco-total-width: 295px;
$rede-spotify-branco-total-height: 252px;
$rede-spotify-branco-image: '/frontend/sprite/sprite.png';
$rede-spotify-branco: (240px, 116px, -240px, -116px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-spotify-branco', );
$rede-spotify-topo-name: 'rede-spotify-topo';
$rede-spotify-topo-x: 240px;
$rede-spotify-topo-y: 145px;
$rede-spotify-topo-offset-x: -240px;
$rede-spotify-topo-offset-y: -145px;
$rede-spotify-topo-width: 29px;
$rede-spotify-topo-height: 29px;
$rede-spotify-topo-total-width: 295px;
$rede-spotify-topo-total-height: 252px;
$rede-spotify-topo-image: '/frontend/sprite/sprite.png';
$rede-spotify-topo: (240px, 145px, -240px, -145px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-spotify-topo', );
$rede-spotify-name: 'rede-spotify';
$rede-spotify-x: 240px;
$rede-spotify-y: 174px;
$rede-spotify-offset-x: -240px;
$rede-spotify-offset-y: -174px;
$rede-spotify-width: 29px;
$rede-spotify-height: 29px;
$rede-spotify-total-width: 295px;
$rede-spotify-total-height: 252px;
$rede-spotify-image: '/frontend/sprite/sprite.png';
$rede-spotify: (240px, 174px, -240px, -174px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-spotify', );
$rede-tumblr-branco-name: 'rede-tumblr-branco';
$rede-tumblr-branco-x: 0px;
$rede-tumblr-branco-y: 223px;
$rede-tumblr-branco-offset-x: 0px;
$rede-tumblr-branco-offset-y: -223px;
$rede-tumblr-branco-width: 29px;
$rede-tumblr-branco-height: 29px;
$rede-tumblr-branco-total-width: 295px;
$rede-tumblr-branco-total-height: 252px;
$rede-tumblr-branco-image: '/frontend/sprite/sprite.png';
$rede-tumblr-branco: (0px, 223px, 0px, -223px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-tumblr-branco', );
$rede-tumblr-topo-name: 'rede-tumblr-topo';
$rede-tumblr-topo-x: 29px;
$rede-tumblr-topo-y: 223px;
$rede-tumblr-topo-offset-x: -29px;
$rede-tumblr-topo-offset-y: -223px;
$rede-tumblr-topo-width: 29px;
$rede-tumblr-topo-height: 29px;
$rede-tumblr-topo-total-width: 295px;
$rede-tumblr-topo-total-height: 252px;
$rede-tumblr-topo-image: '/frontend/sprite/sprite.png';
$rede-tumblr-topo: (29px, 223px, -29px, -223px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-tumblr-topo', );
$rede-tumblr-name: 'rede-tumblr';
$rede-tumblr-x: 58px;
$rede-tumblr-y: 223px;
$rede-tumblr-offset-x: -58px;
$rede-tumblr-offset-y: -223px;
$rede-tumblr-width: 29px;
$rede-tumblr-height: 29px;
$rede-tumblr-total-width: 295px;
$rede-tumblr-total-height: 252px;
$rede-tumblr-image: '/frontend/sprite/sprite.png';
$rede-tumblr: (58px, 223px, -58px, -223px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-tumblr', );
$rede-twitter-branco-name: 'rede-twitter-branco';
$rede-twitter-branco-x: 99px;
$rede-twitter-branco-y: 159px;
$rede-twitter-branco-offset-x: -99px;
$rede-twitter-branco-offset-y: -159px;
$rede-twitter-branco-width: 27px;
$rede-twitter-branco-height: 28px;
$rede-twitter-branco-total-width: 295px;
$rede-twitter-branco-total-height: 252px;
$rede-twitter-branco-image: '/frontend/sprite/sprite.png';
$rede-twitter-branco: (99px, 159px, -99px, -159px, 27px, 28px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-twitter-branco', );
$rede-twitter-topo-name: 'rede-twitter-topo';
$rede-twitter-topo-x: 126px;
$rede-twitter-topo-y: 159px;
$rede-twitter-topo-offset-x: -126px;
$rede-twitter-topo-offset-y: -159px;
$rede-twitter-topo-width: 27px;
$rede-twitter-topo-height: 28px;
$rede-twitter-topo-total-width: 295px;
$rede-twitter-topo-total-height: 252px;
$rede-twitter-topo-image: '/frontend/sprite/sprite.png';
$rede-twitter-topo: (126px, 159px, -126px, -159px, 27px, 28px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-twitter-topo', );
$rede-twitter-name: 'rede-twitter';
$rede-twitter-x: 175px;
$rede-twitter-y: 124px;
$rede-twitter-offset-x: -175px;
$rede-twitter-offset-y: -124px;
$rede-twitter-width: 35px;
$rede-twitter-height: 35px;
$rede-twitter-total-width: 295px;
$rede-twitter-total-height: 252px;
$rede-twitter-image: '/frontend/sprite/sprite.png';
$rede-twitter: (175px, 124px, -175px, -124px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-twitter', );
$rede-whatsapp-branco-name: 'rede-whatsapp-branco';
$rede-whatsapp-branco-x: 87px;
$rede-whatsapp-branco-y: 223px;
$rede-whatsapp-branco-offset-x: -87px;
$rede-whatsapp-branco-offset-y: -223px;
$rede-whatsapp-branco-width: 29px;
$rede-whatsapp-branco-height: 29px;
$rede-whatsapp-branco-total-width: 295px;
$rede-whatsapp-branco-total-height: 252px;
$rede-whatsapp-branco-image: '/frontend/sprite/sprite.png';
$rede-whatsapp-branco: (87px, 223px, -87px, -223px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-whatsapp-branco', );
$rede-whatsapp-topo-name: 'rede-whatsapp-topo';
$rede-whatsapp-topo-x: 116px;
$rede-whatsapp-topo-y: 223px;
$rede-whatsapp-topo-offset-x: -116px;
$rede-whatsapp-topo-offset-y: -223px;
$rede-whatsapp-topo-width: 29px;
$rede-whatsapp-topo-height: 29px;
$rede-whatsapp-topo-total-width: 295px;
$rede-whatsapp-topo-total-height: 252px;
$rede-whatsapp-topo-image: '/frontend/sprite/sprite.png';
$rede-whatsapp-topo: (116px, 223px, -116px, -223px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-whatsapp-topo', );
$rede-whatsapp-name: 'rede-whatsapp';
$rede-whatsapp-x: 145px;
$rede-whatsapp-y: 223px;
$rede-whatsapp-offset-x: -145px;
$rede-whatsapp-offset-y: -223px;
$rede-whatsapp-width: 29px;
$rede-whatsapp-height: 29px;
$rede-whatsapp-total-width: 295px;
$rede-whatsapp-total-height: 252px;
$rede-whatsapp-image: '/frontend/sprite/sprite.png';
$rede-whatsapp: (145px, 223px, -145px, -223px, 29px, 29px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-whatsapp', );
$rede-youtube-branco-name: 'rede-youtube-branco';
$rede-youtube-branco-x: 35px;
$rede-youtube-branco-y: 159px;
$rede-youtube-branco-offset-x: -35px;
$rede-youtube-branco-offset-y: -159px;
$rede-youtube-branco-width: 32px;
$rede-youtube-branco-height: 28px;
$rede-youtube-branco-total-width: 295px;
$rede-youtube-branco-total-height: 252px;
$rede-youtube-branco-image: '/frontend/sprite/sprite.png';
$rede-youtube-branco: (35px, 159px, -35px, -159px, 32px, 28px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-youtube-branco', );
$rede-youtube-topo-name: 'rede-youtube-topo';
$rede-youtube-topo-x: 67px;
$rede-youtube-topo-y: 159px;
$rede-youtube-topo-offset-x: -67px;
$rede-youtube-topo-offset-y: -159px;
$rede-youtube-topo-width: 32px;
$rede-youtube-topo-height: 28px;
$rede-youtube-topo-total-width: 295px;
$rede-youtube-topo-total-height: 252px;
$rede-youtube-topo-image: '/frontend/sprite/sprite.png';
$rede-youtube-topo: (67px, 159px, -67px, -159px, 32px, 28px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-youtube-topo', );
$rede-youtube-name: 'rede-youtube';
$rede-youtube-x: 0px;
$rede-youtube-y: 159px;
$rede-youtube-offset-x: 0px;
$rede-youtube-offset-y: -159px;
$rede-youtube-width: 35px;
$rede-youtube-height: 35px;
$rede-youtube-total-width: 295px;
$rede-youtube-total-height: 252px;
$rede-youtube-image: '/frontend/sprite/sprite.png';
$rede-youtube: (0px, 159px, 0px, -159px, 35px, 35px, 295px, 252px, '/frontend/sprite/sprite.png', 'rede-youtube', );
$seta-breadcrumb-branca-name: 'seta-breadcrumb-branca';
$seta-breadcrumb-branca-x: 269px;
$seta-breadcrumb-branca-y: 50px;
$seta-breadcrumb-branca-offset-x: -269px;
$seta-breadcrumb-branca-offset-y: -50px;
$seta-breadcrumb-branca-width: 26px;
$seta-breadcrumb-branca-height: 21px;
$seta-breadcrumb-branca-total-width: 295px;
$seta-breadcrumb-branca-total-height: 252px;
$seta-breadcrumb-branca-image: '/frontend/sprite/sprite.png';
$seta-breadcrumb-branca: (269px, 50px, -269px, -50px, 26px, 21px, 295px, 252px, '/frontend/sprite/sprite.png', 'seta-breadcrumb-branca', );
$seta-breadcrumb-name: 'seta-breadcrumb';
$seta-breadcrumb-x: 269px;
$seta-breadcrumb-y: 71px;
$seta-breadcrumb-offset-x: -269px;
$seta-breadcrumb-offset-y: -71px;
$seta-breadcrumb-width: 26px;
$seta-breadcrumb-height: 21px;
$seta-breadcrumb-total-width: 295px;
$seta-breadcrumb-total-height: 252px;
$seta-breadcrumb-image: '/frontend/sprite/sprite.png';
$seta-breadcrumb: (269px, 71px, -269px, -71px, 26px, 21px, 295px, 252px, '/frontend/sprite/sprite.png', 'seta-breadcrumb', );
$vinculada-name: 'vinculada';
$vinculada-x: 210px;
$vinculada-y: 0px;
$vinculada-offset-x: -210px;
$vinculada-offset-y: 0px;
$vinculada-width: 30px;
$vinculada-height: 40px;
$vinculada-total-width: 295px;
$vinculada-total-height: 252px;
$vinculada-image: '/frontend/sprite/sprite.png';
$vinculada: (210px, 0px, -210px, 0px, 30px, 40px, 295px, 252px, '/frontend/sprite/sprite.png', 'vinculada', );
$vlibras-escuro-name: 'vlibras-escuro';
$vlibras-escuro-x: 240px;
$vlibras-escuro-y: 203px;
$vlibras-escuro-offset-x: -240px;
$vlibras-escuro-offset-y: -203px;
$vlibras-escuro-width: 13px;
$vlibras-escuro-height: 14px;
$vlibras-escuro-total-width: 295px;
$vlibras-escuro-total-height: 252px;
$vlibras-escuro-image: '/frontend/sprite/sprite.png';
$vlibras-escuro: (240px, 203px, -240px, -203px, 13px, 14px, 295px, 252px, '/frontend/sprite/sprite.png', 'vlibras-escuro', );
$vlibras-name: 'vlibras';
$vlibras-x: 253px;
$vlibras-y: 203px;
$vlibras-offset-x: -253px;
$vlibras-offset-y: -203px;
$vlibras-width: 13px;
$vlibras-height: 14px;
$vlibras-total-width: 295px;
$vlibras-total-height: 252px;
$vlibras-image: '/frontend/sprite/sprite.png';
$vlibras: (253px, 203px, -253px, -203px, 13px, 14px, 295px, 252px, '/frontend/sprite/sprite.png', 'vlibras', );
$spritesheet-width: 295px;
$spritesheet-height: 252px;
$spritesheet-image: '/frontend/sprite/sprite.png';
$spritesheet-sprites: ($botao-busca-sem-bg, $botao-busca, $botao-com-icone, $busca-escuro, $busca, $casinha-branca, $casinha, $contraste-escuro, $contraste, $filtro-audio, $filtro-busca, $filtro-imagem, $filtro-infografico, $filtro-video, $ico-audio, $ico-filtrar-fechado, $ico-filtrar, $ico-imagem, $ico-infografico, $ico-video, $image-download, $image-zoom, $lista-seta, $multimidia, $nav-escuro, $nav, $rede-facebook-branco, $rede-facebook-topo, $rede-facebook, $rede-flickr-branco, $rede-flickr-topo, $rede-flickr, $rede-googleplus-branco, $rede-googleplus-topo, $rede-googleplus, $rede-instagram-branco, $rede-instagram-topo, $rede-instagram, $rede-linkedin, $rede-rss-branco, $rede-rss-topo, $rede-rss, $rede-slideshare-branco, $rede-slideshare-topo, $rede-slideshare, $rede-soundcloud-branco, $rede-soundcloud-topo, $rede-soundcloud, $rede-spotify-branco, $rede-spotify-topo, $rede-spotify, $rede-tumblr-branco, $rede-tumblr-topo, $rede-tumblr, $rede-twitter-branco, $rede-twitter-topo, $rede-twitter, $rede-whatsapp-branco, $rede-whatsapp-topo, $rede-whatsapp, $rede-youtube-branco, $rede-youtube-topo, $rede-youtube, $seta-breadcrumb-branca, $seta-breadcrumb, $vinculada, $vlibras-escuro, $vlibras, );
$spritesheet: (295px, 252px, '/frontend/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
