// Swiper Container Styles
.swiperServicosOnline {
    .container {
        margin-right: -1rem;
    }

    .swiper-wrapper {
        .swiper-slide {
            margin-bottom: 3rem;
        }
    }
}

.swiper-container {
    position: relative;
    overflow: visible;

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    .swiper-button-next {
        right: -2.4rem;
    }

    .swiper-button-prev {
        left: -2.4rem;
    }

    @media screen and (min-width: 1200px) {
        .swiper-button-next {
            right: -3rem;
        }
        .swiper-button-prev {
            left: -3rem;
        }
    }

    @media screen and (min-width: 1920px) {
        .swiper-button-next {
            right: -6rem;
        }
        .swiper-button-prev {
            left: -6rem;
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px !important;
}

.swiper-button-prev {
    background-image: url("../img/prev.svg");
}

.swiper-button-next {
    background-image: url("../img/next.svg");
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "" !important;
}

.swiper-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.swiper-wrapper a{
    min-width: 100%;
}