{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth wagtailadmin_tags %}
{% block bodyclass %}login{% endblock %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% comment %} {% element fields form=form %}
            {% endelement %} {% endcomment %}
            {% formattedfield form.password1 %}
            {% formattedfield form.password2 %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" class="button" %}
                {% trans 'Set Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
