// Arquivo principal para estilos do core
@use './compartilhamento.scss';
@use './compartilhamento_escuro.scss';
@use './filtros.scss';
@use './filtros_escuro.scss';
@use './document_viewer.scss';
@use './document_viewer_escuro.scss';
@use './theme-selector.scss';
@use './theme-selector_escuro.scss';
