@use '../variables';

/**
 * Breadcrumb - Navegação estrutural
 * Estilos para trilha de navegação
 */

.breadcrumb-container {
    background-color: variables.$color-grey-100;
    border-bottom: 1px solid variables.$color-grey-200;
    padding: 0;
    
    .container-fluid {
        padding: 0 1rem;
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    
    .breadcrumb-item {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        color: variables.$color-grey-700;
        
        + .breadcrumb-item {
            padding-left: 0.5rem;
            
            &::before {
                content: "/";
                padding-right: 0.5rem;
                color: variables.$color-grey-400;
            }
        }
        
        a {
            color: variables.$color-primary;
            text-decoration: none;
            transition: color 0.2s ease;
            
            &:hover {
                color: variables.$color-primary-hover;
                text-decoration: underline;
            }
            
            &:focus-visible {
                outline: 2px solid variables.$color-primary;
                outline-offset: 2px;
                border-radius: 2px;
            }
        }
        
        &.active {
            color: variables.$color-grey-900;
            font-weight: 500;
        }
        
        i {
            font-size: 0.875rem;
        }
    }
}

// Responsividade
@media (max-width: 575.98px) {
    .breadcrumb {
        font-size: 0.8125rem;
        padding: 0.5rem 0;
        
        .breadcrumb-item {
            i {
                font-size: 0.75rem;
            }
            
            .d-none.d-sm-inline {
                display: inline !important;
            }
        }
    }
}
