@use "../variables";

#container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    display: flex;
    background: linear-gradient(146.6deg, #09C6F9 0.99%, #045DE9 99.72%), rgba(252, 163, 17, 0.1);
    justify-content:space-around;
    align-items: center;
    padding: 1vh;
    box-sizing: border-box;
}

#info{
  font-family: 'Nunito Sans';
  font-style: normal;
  /* or 28px */
  color: variables.$color-white;
}

#info h1{
    font-size: clamp(4rem, 5vw, 8rem);
}
#info h3{
    font-size: clamp(3rem, 3.5vw, 4rem);
    margin-bottom: 15%;
}

#info button{
  background: variables.$color-light-bg;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width:100%;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-weight: 900;
  font-size: 18px;
  line-height: 180%;
  color: variables.$color-light-blue;
}
#info button:hover{
    background: variables.$color-light-bg-hover;
}

@media screen and (max-width: 810px) {
    #container {
        display: flex;
        flex-direction: column;
    }
    #info {
        text-align: center;
    }
}