@use '../variables.scss';

.app-versao {
  align-content: center;
}
.app-versao p {
  margin: 0
}

.footer-icones {  
  align-items: center;
}

.footer-wrapper {
  background-color: variables.$footer-color;
  max-width: 100%;
  overflow-x: hidden;
}

.footer-info {
  h2 {
    color: variables.$color-white;
    font-size: 1rem;
  }
}

.footer-sic-logo {
  width: 180px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .footer-layout {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer-wrapper {
    width: 100%;
    max-width: 100vw;
  }
  
  .footer-layout {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .footer-sic-logo {
    max-width: 100%;
    height: auto;
  }
}
