@use "sass:color";
@use '../variables.scss';
@use  '../sprite';

.header-wrapper {
  background-color: variables.$color-white;
}

.header-layout {
  padding: 32px 0px;
  
  @media (max-width: 1400px) {
    justify-content: center;
  }
}

.header-logo {
  max-width: 150px;
  height: auto;
}



.header-input-search,
.header-btn-search {
  min-height: 61px;
}

.header-input-search {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  border: 1px solid variables.$color-primary;
  padding: 8px 32px;
  
  min-width: 325px;

}

.header-btn-search {
  border-top-right-radius: variables.$border-radius-search;
  border-bottom-right-radius: variables.$border-radius-search;
  border: 1px solid variables.$color-primary;
  padding: 8px 0px 8px 12px;
  min-width: 170px;
  background-color: variables.$color-primary;
  color: variables.$color-white;

  @media (max-width: 576px) {
    min-width: 54px;
  }
}

.header-btn-search-icon {
  min-width: 18px;
}

.header-acessibilidade {

  font-size: 14px;
  line-height: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header-acessibilidade--vlibras {
  min-width: 36px;
  min-height: 36px;
  padding: 0 10px 0 20px;
  position: relative;
  color: variables.$color-black;
  &:hover {
    color: variables.$color-black;
  }
  &:before {
    content: "";
    left: 0px;
    top: 1px;
    position: absolute;
    @include sprite.sprite(sprite.$vlibras-escuro);
  }
}

.header-acessibilidade--contraste {
  min-width: 36px;
  min-height: 36px;
  padding: 0 10px 0 20px;
  position: relative;
  border-right: 1px solid variables.$color-overlay-20;
  color: variables.$color-black;
  &:hover {
    color: variables.$color-black;
  }
  &:before {
    content: "";
    left: -5px;
    top: 0px;
    position: absolute;
    @include sprite.sprite(sprite.$contraste-escuro);
  }
}

.header-tools {
  border-left: 1px solid variables.$color-overlay-20;
}

.header-btn-search-text {
  @media (max-width: 576px) {
    display: none;
  }
}

.header-acessibilidade--fonts {
  color: variables.$color-black;
  &:hover {
    color: variables.$color-black;
  }
}

.header-acessibilidade--intranet {
  color: variables.$color-primary;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: color.adjust(variables.$color-primary, $lightness: -10%);
    text-decoration: underline;
  }
}

.header-acessibilidade--sair {
  color: variables.$color-primary;
  font-weight: 700;
  text-decoration: none;
  &:hover .dropdown-menu {
    color: color.adjust(variables.$color-primary, $lightness: -10%);
    text-decoration: underline;
  }
}

.header-intranet-user-icon-wrapper {
  width: 38px;
  height: 38px;
  border: 2px solid variables.$color-primary;
}

.header-intranet-user-icon {
  fill: variables.$color-primary;
}

.header-intranet-user-text {
  color: variables.$color-primary;
}

.header-intranet-user-text--bold {
  font-weight: 600;
}

// Dropdown toggle (setinha) - modo claro
.dropdown-toggle {
  &::after {
    border-top-color: variables.$color-primary !important;
  }
}

// Dropdown menu - modo claro (precisa sobrescrever Bootstrap)
.header-intranet-user-icon-wrapper ~ .dropdown-menu,
.dropdown {
  .dropdown-menu {
    .dropdown-item {
      color: variables.$color-grey-900 !important;
      
      &:hover, &:focus {
        background-color: variables.$color-primary !important;
        color: variables.$color-white !important;
      }
      
      i {
        color: variables.$color-primary !important;
      }
      
      &:hover i, &:focus i {
        color: variables.$color-white !important;
      }
      
      &.text-danger {
        color: variables.$color-error !important;
        
        &:hover, &:focus {
          background-color: variables.$color-error !important;
          color: variables.$color-white !important;
        }
        
        i {
          color: variables.$color-error !important;
        }
        
        &:hover i, &:focus i {
          color: variables.$color-white !important;
        }
      }
    }
  }
}